include ../../../../utils/Buttons/Buttons
include ../../Drop-menu/Drop-menu

block variables
    //- - var arrow = '../src/image/arrowforward.png';
    - var arrow = './src/image/arrowforward.png';
    - var firstLabelName = 'Взрослые'
    - var secondLabelName = 'Дети'
    - var thirdLabelName = 'Младенцы'

mixin mainForm(headerName, numberHeader, lux, price, inputType, countFacilities, firstLabelName, secondLabelName, thirdLabelName, countDay, midPrice, discount, totalDiscount, added, totalPrice, buttonName, buttonLink, arrow, bottomBtn)
    .main-form
        .main-form__header
            .main-form__header__wrapper
                if numberHeader
                    span.main-form__header__item №
                    h2=numberHeader
                else 
                    h2 Найдём номера под ваши пожелания

                if lux
                    span.main-form__header__lux Люкс
                else
                    span
            .main-form__header__pricePerDay
                if price
                    span.main-form__header__pricePerDay__item=price
                        span &#8381;
                    span.main-form__header__text в сутки
                else
                    span
        .search-form
            .search-form__arrival-departure.items
                .items__wrapper
                    label Прибытие
                    .items__input
                        .items__input__arrival-input
                            input(type="date")
                            .arrival-input__arrow
                                //- img(src="../src/image/expand_more.png")
                                img(src="./src/image/expand_more.png")
                .items__wrapper
                    label Выезд
                    .items__input
                        .items__input__departure-input
                            input(type="date")
                            .departure-input__arrow
                                //- img(src="../src/image/expand_more.png")
                                img(src="./src/image/expand_more.png")
            .search-form__guests-input
                label Гости
                +dropMenu(inputType, countFacilities, firstLabelName, secondLabelName, thirdLabelName, bottomBtn)
        if price
            .price-info
                span.price-info__price-counter
                    span.price-info__text-wrapper
                        span=price
                        span &#8381; 
                        span X 
                        span=countDay
                        span суток
                    span.price-info__price-wrapper
                        span.price-info__intermediate-price=midPrice 
                        span &#8381;
                span.price-info__service
                    span.price-info__text-wrapper
                        span.price-info__service-wrapper Сбор за услуги: скидка 
                        span=discount
                        span &#8381;
                        a(href="#info-discount").price-info__discount-info-mark i
                    span.price-info__price-wrapper
                        span.price-info__total-discount=totalDiscount
                        span &#8381;
                span.price-info__added-service
                    span.price-info__text-wrapper
                        span.price-info__text Сбор за дополнительные услуги
                        a(href="#info-service").price-info__service-info-mark i
                    span.price-info__price-wrapper
                        span.price-info__total-added=added
                        span &#8381;
            span.total-price
                span Итого 
                span.total-price__dots 
                span.total-price__price-wrapper
                    span=totalPrice
                    span &#8381;
        else
            span
        .search-form__button
            .search-form__button_size
                +BigVelvetFillBtn(buttonName, buttonLink, arrow)
